.chat-button {
    position: fixed;
    bottom: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $button-color;
    border: 0;
    border-radius: 100px;
    color: $primary-color;
    padding: 0 20px;
    cursor: pointer;
    font-family: $base-font;
    font-size: 1em;
    line-height: 1;
    font-weight: 600;
    svg {
        fill: $primary-color;
        width: 28px;
        height: 48px;
        margin-right: 12px;
    }
}