@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?jvzn1r');
    src: url('fonts/icomoon.ttf?jvzn1r') format('truetype'), url('../../fonts/icomoon.woff?jvzn1r') format('woff'), url('../../fonts/icomoon.svg?jvzn1r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}